*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
footer a{
    color: white;
}
.navbar-brand{
    color: white;
    font-style: italic;
    font-family: serif;
    font-weight: 600;
}
/* -----INDEX------ */
/* header */
header{
    background-color:steelblue ;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}
header h1{
    color: white;
    display: inline-block;
    font-size: 1,5rem;
}
header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
    
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}
.btncontact{
    background-color: steelblue;
    border-radius: 10px;
}


header ul li{
    color: white;
    width: fit-content;
    padding: 10px;
    font-size: 1rem;
}
.logopetite{
    width: 4rem;
}

/* ------------Comienzo main------------ */
.carrusel{
    display: flex;
}
.slide{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.slide img{
    height: 65vh;
    justify-content: center;
}
.caja1{
    background-image: url(../img/breakfast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px;
    text-align: center;
    background-attachment: fixed;
}
.container{
    display: grid;
    gap: 20px;
}
.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    
}
.textocard{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desayunodesktop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: center;
}

.card-img-overlay{
    background-color: #9a9d9bc3;
    text-align: center;
    
}
.container-cardimg{

    overflow: hidden;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.container-cardimg:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
.imgfin{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat:space;
}
.btn-foot{
    background-color:cadetblue;
}
.btn-new{
    background-color: aliceblue;
}
.textofin{
    font-size: larger;
    font-style: italic;
    font-family: serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}


/* -----------FOOTER------------ */


footer ul li{
    list-style: none;
    
}
.bg-footer{
    background-color: navy;
    color: white;
}
#insta{
    width: 2rem;
}
#whatsapp{
    width: 2rem;
} */


/* -------------page desayunos------------------- */
.titulodesayuno{
    text-align: center;
    padding: 15px;
    text-decoration:underline;
    font-size: 2rem;
}
.contenedordesayuno{
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center
}

.descaja1{
    background-image: url(../img/desayunos/desayunoaniversario.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    background-position: bottom;
}

.descaja2{
    background-image: url(../img/desayunos/desayunocumple.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
    background-position: bottom;
}
.descaja3{
    background-image: url(../img/desayunos/desayunopadre.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
    background-position: center;
}
.descaja4{
    background-image: url(../img/desayunos/desayunomadre.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
}
.descaja5{
    background-image: url(../img/desayunos/personalizado.jpeg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
}
.descaja6{
    background-image: url(../img/desayunos/desayunomate.jpeg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
}
.descaja7{
    background-image: url(../img/desayunos/desayunosaludable.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid 3px black;
    font-size: 1rem;
    text-align: center;
    ;
}