footer{
    background-color: navy;
    color: white;
    list-style: none;
    ul{
        color: white;
        list-style: none;
    }
    .dropdown-toggle{
        color: steelblue;
        
    }
    .bi{color: white;}
    margin-top: 20px;
    
    a{
        color: white;
    }
    .btn{
        background-color: whitesmoke;
    }
}
